---
title: Tradegecko Developer Portal

primary_cards:
  - name: 3pl Absolute next level
    blurb: they are so awesome and shippable
    url: https://www.tradegecko.com
    background_color: "#5784f7"
    image:
      url: /images/eCommerce@2x.png
  - name: Automate extra speed extra win
    blurb: They won so much, that you think you can only win
    url: https://www.tradegecko.com
    background_color: "#5bb4f9"
    image:
      url: /images/3PL@2x.png
  - name: Warehousing in singapore
    blurb: OMG THE HOUSE TURNED INTO A WARE
    url: https://www.tradegecko.com
    background_color: "#80dce2"
    image:
      url: /images/Warehouse@2x.png

secondary_cards:
  - name: 3pl Absolute next level
    blurb: they are so awesome and shippable
    url: https://www.tradegecko.com
  - name: Automate extra speed extra win
    blurb: They won so much, that you think you can only win
    url: https://www.tradegecko.com
  - name: Warehousing in singapore
    blurb: OMG THE HOUSE TURNED INTO A WARE
    url: https://www.tradegecko.com

search: true
home: true
---
<div class="index-page">
  <div class="row index-page__section">
    <div class="col-12">
        <%= partial "includes/home_cta" %>
    </div>
  </div>

  <div class="row index-page__section">
    <div class="card-list">
      <% current_page.data.primary_cards.each do |study| %>
        <div class="study-card" style="background-color: <%=study.background_color%> ">
          <div style="position:relative;height:280px;">

            <img
            src="<%=study.image.url%>"
            height="<%=study.image.height || "250px"%>"
            />
          </div>
          <div class="study-blurb">
            <h2><%=study.name%></h2>
            <p><%=study.blurb%></p>
            <a href="#" class="btn btn-big btn-primary card__sticky-button" >
              Read More
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row index-page__section">
    <h1> Start building with tradegecko api in minutes...</h1>
  </div>

  <div class="row">
    <div class="card-list">
      <% current_page.data.secondary_cards.each do |study| %>
        <div class="study-card secondary-card">
          <div class="study-blurb">
            <h2><%=study.name%></h2>
            <p><%=study.blurb%></p>
            <a href="#" class="plain-link card__sticky-button" >
              Read More
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row index-page__section">
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
      <img src="images/ecommerce-integration@2x.png" height="200px">
    </div>
    <div class="col-md-7">
      <h1> Sign up for a partner account to get started</h1>
      <p style="font-size:17px">Discover how our Partner Program can help your clients build the business of their dreams and make you money in the process</p>
      <button href="#" class="btn btn-big btn-primary" >
        Become a partner
      </button>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
