---
title: Tradegecko Developer Portal

case_studies:
  - name: 3pl Absolute next level
    blurb: they are so awesome and shippable
    url: https://www.tradegecko.com
    image: https://www.tradegecko.com/hubfs/marketing/img-brooklyn-bicycle-co-1.jpg
  - name: Automate extra speed extra win
    blurb: They won so much, that you think you can only win
    url: https://www.tradegecko.com
    image: https://www.tradegecko.com/hubfs/marketing/img-brooklyn-bicycle-co-1.jpg
  - name: Warehousing in singapore
    blurb: OMG THE HOUSE TURNED INTO A WARE
    url: https://www.tradegecko.com
    image: https://www.tradegecko.com/hubfs/marketing/img-brooklyn-bicycle-co-1.jpg

search: true
home: true
---
<div class="row">
  <div class="col-12">
      <%= partial "includes/home_cta" %>
  </div>
</div>
<div class="row">
  <div style="background:#4A90E2; border-radius: 5px;padding:50px;width:100%;text-align:center;color:white">
    <h2> Discover our comprehensive API </h2>
    <p>Build exactly what you need with modern API's and webhooks<p>
    <div style="width:500px;margin:auto">
      <%= partial "includes/search" %>
    </div>
  </div>
</div>

<div class="row">

</div>

<div class="row">
  <div class="card-list">
    <% current_page.data.case_studies.each do |study| %>
      <div class="study-card">
        <div>
          <img src="<%=study.image%>" height=280px />
        </div>
        <div class="study-blurb">
          <h2><%=study.name%></h2>
          <p><%=study.blurb%></p>
          <button href="#" class="btn btn-big btn-primary card__sticky-button" >
            Read More
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
